<footer tabindex="0" class="siteFooter" role="contentinfo">
<div class="footerContainer">
	<h3>Adresse:</h3>
	<p class="footerContent">Dansevej 1,</p>
	<p class="footerContent">1234 Danseby</p>
</div>
<div class="footerContainer">
	<h3>Kontakt:</h3>
	<p class="footerContent">Tlf.: 12345678</p>
	<p class="footerContent">E-mail: dans@mail.dk</p>
</div>
<div class="footerContainer">
	<h3>Sociale medier:</h3>
	<a href="https://facebook.dk" target="blank" class="someLink"><i class="fab fa-facebook"></i></a>
	<a href="https://instagram.dk" target="blank" class="someLink"><i class="fab fa-instagram"></i></a>
</div>

</footer>
		
		
		
	
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
