<nav class="primaryNavigation" role="navigation">
	<ul id="mySidenav">
		<li><a href="/instructor">Instruktører</a></li>
		<li><a href="/style">Stilarter</a></li>
		<li><a href="/"><img class="logo" src="/media/logo.png" alt="Landdrup danseskole logo"></a></li>
		<li><a href="/tilmelding">Tilmelding</a></li>
		<li><a href="/kontakt">Kontakt</a></li>
	</ul>
</nav>
