<% include partials/head.ejs %>
<% include partials/header.ejs %>
<main tabindex="0" class="sign_up" role="main">
    <h1><%= title %></h1>
    <p><%= content %></p>
    <p><a href="#" class="button" onclick="openLoginForm()">Log in</a></p>
</main>
<% include partials/footer.ejs %>
<% include partials/after-footer.ejs %>