<nav class="adminPrimaryNavigation" role="navigation">
	<ul id="myAdminSidenav">
		<li><a href="/admin"><i class="fas fa-home"></i> Forside</a></li>
		<li><a href="/admin/instructors"><i class="fas fa-box-open"></i> Instruktører</a></li>
		<li><a href="/admin/style"><i class="fas fa-sitemap"></i> Stilarter</a></li>
		<li><a href="/admin/hold"><i class="fas fa-clipboard"></i> Hold</a></li>
		<li><a href="/admin/niveau"><i class="fas fa-chart-area"></i> Niveau</a></li>
		<li><a href="/admin/agegroup"><i class="fas fa-chart-area"></i> Age_groups</a></li>
		<li><a href="/admin/users"><i class="fas fa-users"></i> Brugere</a></li>
		<hr>
	</ul>
</nav>
