<div id="adminWrapper">
<header class="adminSiteHeader">
	<div class="adminHeaderLogo"><a href="/"><img class="logoAdmin" src="../media/logo.png" alt="Landdrup danseskole logo"></a></div>
	<div class="adminHeaderLogout"><a href="/logout">LOG UD <i class="fas fa-sign-out-alt"></i></a></div>
</header>